/* Reset */
* {
    margin: 0;
    padding: 0;
}

:root {
    /* Fonts */
    --main-font: 'Oswald', sans-serif;
    /* Colors */
    --main-color: rgb(242, 180, 211);
    --secondary-color: rgb(255, 106, 193);
    --tertiary-color: #FFFFFF;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(rgb(255,106,193,0.05), rgb(255,106,193,0.2)),url(../ASSETS/3d-boxes.jpg) no-repeat center center fixed;
    background-size: cover;
}


/* Form Stylings */
#login-form {
    width: min(80%, 250px);
    /* max-width: 350px; */
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: min(10%, 3em);
    margin: 10px;
    /* From https://css.glass */
    background: rgba(15,14,21, 1);
    box-shadow: 0 4px 30px rgba(255, 106, 193, 0.2);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(255, 106, 193, 0.05);
    animation: fadein 3s;
}

#welcome {
    text-align: center;
    margin: 0 0 1.5em 0;
    color: var(--main-color);
}

.welcome-heading, label, #account-recovery {
    font-family: var(--main-font);
}

.welcome-heading {
    font-size: 2.5em;
}

.welcome-message {

}

#login-form > label {
    margin: 0 0 0.4em 0;
    font-size: 1em;
    color: var(--main-color);
}

#username, #password {
    margin: 0 0 0.6em 0;
    height: 1.75em;
    padding: 0.4em;
    border-radius: 0.5em;
    border-width: thin;
}

.more-options {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    margin: 0.9em 0 1.5em 0;
    color: var(--main-color);
}

.more-options #thirty-day-save {
    line-height: normal;
    width: 0.8em;
    height: 0.8em;
}

.more-options #account-recovery {
    color: var(--main-color);
    text-decoration: none;
}

input[type='checkbox'] {
    accent-color: var(--main-color);
}

#submit-button {
    padding: 0.7em 0;
    border-radius: 0.5em;
    border: none;
    background-color: var(--main-color);
    transition: all 0.5s ease-in-out;
    
}

#submit-button:hover {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

/* Fade In Animation */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}